.navbar-header {
  font-family: "Gulfs Display";
  display: flex;
  justify-content: space-between;
}

.nav-intro {
  padding-left: 2.5%;
  padding-right: 2.5%;
}
.active {
  font-weight: bold;
  text-decoration: none;
  color: black;
}
