.navbar-header {
  font-family: "Gulfs Display";
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em;
}

.logo {
  flex-wrap: wrap;
  width: 20%;
}

.logo-container {
  text-align: left;
  padding-left: 49px;
}
.section-container {
  font-size: 24px;
  padding-right: 24px;
  justify-content: space-between;
}
.section-title {
  padding: 25px;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
